In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

In [3]:
plt.style.use('fivethirtyeight')

In [4]:
!ls ml-latest-small/

ls: ml-latest-small/: No such file or directory

# Movies
---

In [13]:
movies = pd.read_csv('../ml-latest-small/movies.csv')

In [14]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [15]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
movieId    9125 non-null int64
title      9125 non-null object
genres     9125 non-null object
dtypes: int64(1), object(2)
memory usage: 213.9+ KB

In [16]:
movies.genres[0].split('|') ## bar chart?

['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy']

In [17]:
movies.title[np.random.randint(10000)].split(" ")[-1]

'(1944)'

# Links
---

In [18]:
links = pd.read_csv('../ml-latest-small/links.csv')

In [19]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

## Questions for Exploratory Data Analysis
(Pyspark) -> ml-latest

1. User ratings across genres
2. Distribution of movies across genres
3. Distribution of genres across years
4. Correlation analysis